@page "/add-by-file-complete"
@inject IcsContentContainerService IcsContentContainer;

<h2>你的日历文件</h2>

<p>保存并导入日历文件。</p>

@if (!string.IsNullOrEmpty(IcsContentContainer.PostActionMessage))
{
    <p class="text-danger">@IcsContentContainer.PostActionMessage</p>
}

<a class="btn btn-outline-primary mt-2 mb-4" href="data:text/calendar;charset=utf-8,@Uri.EscapeDataString(IcsContentContainer.IcsContent)" download="课程.ics">
    保存
</a>
<a class="btn btn-outline-primary mt-2 mb-4" href="help/file">导入说明</a>
