@page "/"

<h2>选择添加方式</h2>

<p>有两种将课程添加至日历的方式。</p>

<h3>订阅</h3>
<p>使用订阅地址将课程添加到日历。</p>
<p>当新学期开始，或课程安排发生变化时，日历将<strong>自动更新</strong>。</p>
<p>Apple, Google, Outlook 等主流的日历服务都支持这一订阅方式。</p>
<p>为了定期获取最新的课程安排，我们将安全地<strong>保存你的登录信息</strong>。你可以随时取消订阅并删除登录信息。</p>

<a class="btn btn-outline-dark mt-2 mb-4" href="add-calendar/true">创建订阅</a>

<h3>文件</h3>
<p>使用日历文件将课程添加到日历。</p>
<p>当新学期开始，或课程安排发生变化时，日历<strong>不会自动更新</strong>。此时需要删除原来的日历项目并重新导入。</p>
<p>使用这种方式时，我们<strong>不会保存</strong>你的登录信息。</p>

<a class="btn btn-outline-dark mt-2 mb-4" href="add-calendar/false">导出文件</a>
