html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.status-description {
    font-size: 1.5rem;
    font-weight: 500;
}

.status-icon {
    height: 1.5rem;
    margin-right: 0.5rem;
}

.status-icon-small {
    height: 1rem;
    margin-right: 0.5rem;
}

svg.status-ok {
    fill: #28a745;
}

span.status-ok {
    color: #28a745;
}

svg.status-info {
    fill: #007bff;
}

span.status-info {
    color: #007bff;
}

svg.status-warning {
    fill: #ffc107;
}

span.status-warning {
    color: #ffc107;
}

svg.status-error {
    fill: #dc3545;
}

span.status-error {
    color: #dc3545;
}

.status-incident-column {
    margin-right: 1rem;
}

.status-incident-details {
    max-width: 50rem;
}
