<h5>如果使用 macOS...</h5>
<ol>
    <li>启动系统的 <b>日历</b> 应用</li>
    <li>在菜单栏中选择 <b>文件 - 导入</b></li>
    <li>选择你的<b>日历文件</b></li>
    <li>选择导入的<b>目标日历</b>。为了便于日后更新，建议新建一个日历</li>
    <li>单击 <b>好</b>，完成导入。日历将自动同步到登录了相同 iCloud 帐户的其它设备上</li>
</ol>

<h5>如果使用 iOS...</h5>
<ol>
    <li>使用 <b>Safari</b> 浏览器在本页导出日历文件</li>
    <li>在完成页面中，点按 <b>保存</b></li>
    <li>在打开的页面中点按 <b>添加全部</b></li>
    <li>选择导入的<b>目标日历</b>。为了便于日后更新，建议新建一个日历</li>
    <li>点按 <b>完成</b>，完成导入。注意在 iOS 上导入的日历文件不会同步到其它设备上</li>
</ol>
