<h5>如果使用 macOS...</h5>
<ol>
    <li>启动系统的 <b>日历</b> 应用</li>
    <li>在菜单栏中选择 <b>文件 - 新建日历订阅</b></li>
    <li>在打开的对话框中，输入你的<b>订阅地址</b>，单击 <b>订阅</b></li>
    <li>为新日历提供一个<b>名称</b></li>
    <li>选择是否移除订阅中的<b>提醒</b>。如果不移除，我们将在课程开始前 15 分钟通知</li>
    <li>选择合适的<b>更新频率</b>。建议选择 每天</li>
    <li>单击 <b>好</b>，完成导入。日历将自动同步到登录了相同 iCloud 帐户的其它设备上</li>
</ol>
<img src="/assets/macos-subscription.png" class="img-fluid" />

<h5>如果使用 iOS...</h5>
<ol>
    <li>启动系统的 <b>设置</b> 应用</li>
    <li>iOS 14 及以后请进入 <b>日历</b> 页面，iOS 13 及以前请进入 <b>密码与帐户</b> 页面。</li>
    <li>选择 <b>帐户 - 添加帐户</b></li>
    <li>选择 <b>其他 - 添加已订阅的日历</b></li>
    <li>在打开的页面中，输入你的<b>订阅地址</b>。去掉地址前面的 "https://"</li>
    <li>点按 <b>下一步</b>，在 <b>描述</b> 中为新日历提供一个名称</li>
    <li>选择是否移除订阅中的<b>提醒</b>。如果不移除，我们将在课程开始前 15 分钟通知</li>
    <li>点按 <b>存储</b>，完成导入。注意在 iOS 上导入的日历订阅不会同步到其它设备上</li>
</ol>
<img src="/assets/ios-subscription.png" class="img-fluid" />
