@using DL444.CquSchedule.Web.Models; 

<h3>选择日历服务</h3>

<p>根据你使用的操作系统与个人偏好，选择一个合适的日历服务。</p>
<p>下面是几种常见日历服务的支持情况。</p>
<p>✅ 完全支持此平台</p>
<p>➖ 不支持在此平台上添加日历订阅或文件，但可以查看在其它平台添加并同步的日历</p>
<p>❌ 不支持此平台</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">平台</th>
            <th scope="col">iCloud</th>
            <th scope="col">Google</th>
            <th scope="col">Outlook</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">浏览器</th>
            <td>➖</td>
            <td>✅</td>
            <td>✅</td>
        </tr>
        <tr>
            <th scope="row">Android</th>
            <td>❌</td>
            <td>➖</td>
            <td>➖</td>
        </tr>
        <tr>
            <th scope="row">iOS</th>
            <td>✅ *</td>
            <td>➖</td>
            <td>➖</td>
        </tr>
        <tr>
            <th scope="row">macOS</th>
            <td>✅</td>
            <td>➖</td>
            <td>➖</td>
        </tr>
        <tr>
            <th scope="row">Windows</th>
            <td>❌</td>
            <td>❌</td>
            <td>@(AddMethod == AddMethod.Subscription ? "➖" : "✅")</td>
        </tr>
    </tbody>
</table>

<p>* 在 iOS 上添加的 iCloud 日历不支持同步到其它平台</p>

@code {
    [Parameter]
    public AddMethod AddMethod { get; set; }
}
