<ol>
    <li>打开<a href="https://calendar.google.com/calendar/u/0/r/settings/addbyurl" target="_blank">导入页面</a>并登录你的 Google 帐户。建议在计算机上操作</li>
    <li>输入你的<b>订阅地址</b></li>
    <li>单击 <b>添加日历</b>。日历将自动同步到登录了相同 Google 帐户的其它设备上</li>
</ol>
