<ol>
    <li>打开<a href="https://outlook.live.com/owa?path=/calendar/action/compose&rru=addsubscription" target="_blank">导入页面</a>并登录你的 Microsoft 帐户。建议在计算机上操作</li>
    <li>在左侧选择 <b>从 Web 订阅</b></li>
    <li>输入你的<b>订阅地址</b></li>
    <li>提供新日历的<b>名称</b>等信息</li>
    <li>单击 <b>导入</b>。日历将自动同步到登录了相同 Microsoft 帐户的其它设备上</li>
</ol>
