@using DL444.CquSchedule.Models;

<EditForm Model="Credential" autocomplete="off">
    <div class="form-group">
        <label for="usernameInput">学号</label>
        <InputText @bind-Value="Credential.Username" disabled="@Disabled" id="usernameInput" class="form-control" placeholder="2016----" />
        <small class="form-text text-muted">请注意不是统一身份认证号</small>
    </div>
    <div class="form-group">
        <label for="passwordInput">密码</label>
        <InputText @bind-Value="Credential.Password" type="password" disabled="@Disabled" id="passwordInput" class="form-control" />
        <small class="form-text text-muted">本科生为统一身份认证密码，研究生为 MIS 登录密码<br />不确定？先在 <a href="https://my.cqu.edu.cn/enroll" target="_blank">my.cqu.edu.cn</a> 或 <a href="http://mis.cqu.edu.cn/mis" target="_blank">mis.cqu.edu.cn</a> 测试</small>
    </div>
</EditForm>

@code {
    [Parameter]
    public Credential Credential { get; set; }

    [Parameter]
    public bool Disabled { get; set; }
}
