@using DL444.CquSchedule.Models;
@inject ApiService ApiService;

<EditForm Model="Credential" autocomplete="off">
    <div class="form-group">
        <label for="usernameInput">学号</label>
        <InputText @bind-Value="Credential.Username" disabled="@Disabled" id="usernameInput" class="form-control" placeholder="2016----" />
        <small class="form-text text-muted">请注意不是统一身份认证号</small>
    </div>
    <div class="form-group">
        <label for="passwordInput">统一身份认证密码</label>
        <InputText @bind-Value="Credential.Password" type="password" disabled="@Disabled" id="passwordInput" class="form-control" />
        <small class="form-text text-muted">不确定？先在 <a href="http://my.cqu.edu.cn/enroll" target="_blank">my.cqu.edu.cn</a> 测试</small>
    </div>
</EditForm>

@code {
    [Parameter]
    public Credential Credential { get; set; }

    [Parameter]
    public bool Disabled { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _ = ApiService.WarmupAsync();
    }
}
